/fakeTec_pcb/Circuit/.history
/node_nrf52/History
*.SchDocPreview
*.LOG
/node_ht62/History
/LORAbridge/History
*.drc
*.html
/E77_repeater/History
E77_repeater/E77_repeater.PrjPcbStructure
*.htm
*.drc
*.html
*.APR_LIB
/E51_breakout/History
/Node_E73/History
*.PrjPcbStructure
/misc/first_vers/Imported ReceiverLoRa.PrjPcb/History
*.DRR
*.EXTREP
*.apr
